body{
        margin:0;
        padding: 0;
        background:#000;
}


p { 
       font-size:6px;
       line-height:6px;
       text-align:justify;
       -webkit-background-size:cover;
       background-size:civer;
       background-repeat: no-repeat;
       backgrount-position: center;
       background: url(file:///C:/Users/gamer/Desktop/image-removebg-preview.png) no-repeat center/cover;
       background-attachement: fixed;
       -webkit-background-clip: text;
       -webkit-text-fill-color:rgb(225, 225, 225, 0);

}
   